<div class="container mt-4 mx-auto">
  <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
    <div *ngFor="let data of pharmaData$ | async; let i = index">
      <div
        class="card m-2 cursor-pointer border border-gray-400 rounded-lg hover:shadow-md hover:border-opacity-0 transform hover:-translate-y-1 transition-all duration-200"
      >
        <div class="m-3">
          <h3 class="text-md mb-2 text-decoration-line: underline">
            {{ data.brand_name }}
            <span
              class="text-sm text-teal-800 font-mono bg-teal-100 inline rounded-full px-2 align-top float-right animate-pulse"
              >{{ data.drug_code }}</span
            >
          </h3>
          <p
            class="font-light font-mono text-sm text-gray-700 hover:text-gray-900 transition-all duration-200"
          >
            Class: <span class="font-style: italic">{{ data.class_name }}</span
            ><br />
            Drug ID:
            <span class="font-style: italic">{{
              data.drug_identification_number
            }}</span
            ><br />
            AIs: <span class="font-style: italic">{{ data.number_of_ais }}</span
            ><br />
            AI Group:
            <span class="font-style: italic">{{ data.ai_group_no }}</span
            ><br />
            Company:
            <span class="font-style: italic">{{ data.company_name }}</span
            ><br />
            Last Update:
            <span class="font-style: italic">{{ data.last_update_date }}</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
